<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Find Movie</title>
</head>
<body>
    <form action="/foundmovie" method="GET">
        <label for="title">title</label><br />
        <input type="text" name="title" id="title" placeholder="title"><br /> 
        
        <label for="rating">rating:</label><br />
        <input type="text" name="rating">
       
        <button type="submit">Find movie</button>
    </form>

    <% if (movie !== null) { %>
    <hr />
    <h2><%= movie.title %> </h2>
    <p>Rating:<%= movie.rating %> </p>
    <p>Synopsis:<%= movie.synopsis %> </p>
    <p>Release Year: <%= movie.release %> </p>
    <p>Genre:<%= movie.genre %> </p>
    <p>Director:<%= movie.director %> </p>
    <p>Box office<%= movie.box %> </p>
    <% } %>
</body>
</html>